<script type="text/ng-template" id="error-messages">
    <div ng-message="required">Please enter this information</div>
    <div ng-message="maxlength">This value is too long</div>
    <div ng-message="minlength">This value is too short</div>
</script>

<!-- Login Page Content -->
        <div class="row">
            <div class="container">
                <div class="col-sm-12">
                    <h1>Login</h1>
                    <p class="lead">Access your account</p>
                </div>
            </div>
            <div class="container form-container">
                <div class="col-sm-8">
                <form name="loginform" class="clearfix" data-ng-submit="Login(User)">
                    <div class="form-group" ng-class="{ 'has-error': loginform.username.$touched && loginform.username.$invalid }">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" data-ng-model="User.Username" required ng-maxlength="100">
                        <div ng-if="loginform.username.$touched" ng-messages="loginform.username.$error" role="alert">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                    </div>
                    <div class="form-group"  ng-class="{ 'has-error': loginform.password.$touched && loginform.password.$invalid }">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" data-ng-model="User.Password" required ng-maxlength="25" ng-minlength="7">
                        <div ng-if="loginform.password.$touched" ng-messages="loginform.password.$error" role="alert">
                        <div ng-messages-include="error-messages"></div>
                    </div>
                    </div>
                    <div class="form-group">
                        <a href="#">Forgot password?</a>
                    </div>
                    <div class="row">
                    <div class="col-sm-3 col-sm-offset-9">
                    <button type="submit" class="btn  btn-lg btn-primary btn-block ">Login</button>
                        </div>
                    </div>
                </form>
                </div>  
                <aside class="col-sm-4">
                    <p>Not a member ?</p>
                    <a class="btn col-sm-12 btn-default" href="#register">Register Today</a>
                </aside>
            </div>
        </div>
        