/*
COLOR SCHEME
*/

@gray-0: #f5f5f5;
@gray-1: #ebebeb;
@gray-2: #d9d9d9;
@gray-3: #9e9d9d;
@gray-4: #5e5e5e;

/* Nav Styles */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background: @gray-1;
    .navbar-header {
        background: @gray-3;
    }
    .navbar-nav a{color: @gray-4}
}

/* Breadcrumb Style */
.breadcrumb {
    border-radius: 0;
    background: @gray-0;
}


/* Page Style */
.page{
    .form-container {
    background: @gray-0;
    form {
        margin: 30px auto;
        padding: 20px;
        background: @gray-1;
        button{
            margin-top: 15px;
        }
        .has-error{
            color:red;
        }
        .input-group-addon i.glyphicon-calendar{cursor: pointer}
    }
    aside {
        text-align: center;
        padding: 10%;
    }
}

}
.page.ng-enter {
    animation: slideIn 0.5s ease-out;
    z-index: 5555;
}
.page.ng-leave {
    animation: slideOut 0.25s ease-in;
    z-index: 6666;
}

/* Footer Style */
.footer {
    background: @gray-4;
    padding: 50px;
    margin-top: 50px;
}




/* Compass */
#compass {
  width: 380px;
  height: 380px;
  background-image:url('http://i.imgur.com/44nyA.jpg');
  position: relative;
     -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
    
}
#arrow {
  width: 160px;
  height: 10px;
  background-color:#F00;
  position: absolute;
  top: 190px;
  left: 110px;
  -webkit-transform:rotate(0deg);
  -moz-transform:rotate(0deg);
  -o-transform:rotate(0deg);
  -ms-transform:rotate(0deg);

  -moz-transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}


#compass:hover #arrow {
  -webkit-transform:rotate(263deg);
  -moz-transform:rotate(263deg);
  -o-transform:rotate(263deg);
  -ms-transform:rotate(263deg);
}



/* Animations */
@keyframes slideIn {
    from    { opacity: 0;transform:translateY(20%); }
    to      { opacity: 1;transform: translateY(0); }
}


@keyframes slideOut {
    from    { opacity: 1; transform:translateY(0); }
    to      { opacity: 0;transform: translateY(-20%); }
}
